.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#222;
}

.logo{
    color:white;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.nav-links a:hover{
    color:#4CAF50;
}